#signup
    margin: 0px 7.5px 30px
    width: 680px
    max-width: calc(100% - 30px)
    display: inline-block
    vertical-align: middle
    border-radius: 5px
    text-align: center

    .button, .button_top, .button_bottom
        // background-color: $yellow
        color: $yellow
        border: none
        border-radius: 5px
        padding: 10px 20px
        font-size: 40px
        font-family: $poppins
        margin: 15px 0px
        max-width: calc(100% - 30px)
        transform: translate(0%, 0%) skew(0deg, -30deg) scaleY(1.337)
        font-weight: 900
        letter-spacing: 2px
        text-transform: uppercase
        text-align: center

    .button_top
        transform: translate(-3.5%, 77%) skew(60deg, -30deg) scaleY(0.667)
        color: $grey

    .button_bottom
        transform: translate(3.5%, -77%) skew(60deg, -30deg) scaleY(0.667)
        color: $grey

@media screen and ( max-width: 680px )
    #signup
        .button, .button_top, .button_bottom
            font-size: 26px